@model IEnumerable<WRC_CMS.Models.SiteModel>

<p>
    @Html.ActionLink("Create New", "AddSite")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSiteDetails", new { id = item.Oid }) |
                @Html.ActionLink("Preview", "PreviewSite", new { id = item.Oid }) |
                @Html.ActionLink("Delete", "DeleteSite", new { id = item.Oid }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
    }
</table>
