@using Microsoft.AspNet.Identity
<div class="row">
    <div class="row  col-md-5">
        <div id="sidebar" class="col-md-4">
            <ul>
                <li>@Html.ActionLink("Sites", "AddSite", "Site")</li>
                <li>@Html.ActionLink("Views", "AddView", "AddView")</li>
                <li>@Html.ActionLink("Content Styles", "AddContentStyle", "ContentStyle")</li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - WRC-CMS</p>
            </footer>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Home Page", "Dashboard", "Site")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
